.containerWrap {
    position: relative;
    background: linear-gradient(180deg, rgb(15 27 58) 9%, rgba(74, 85, 85, 0.48) 43%, rgb(15, 27, 58) 100%);
    width: 100%;
    // height: 100%;
    // height: 7000px;
    // max-height: 95vh;
    // height: 80vh;

    padding: 0 18%;
    color: white;
    padding-top: 6%;
    padding-bottom: 10%;
    .overlayWrap {
        display: flex;
        justify-content: space-evenly;
        .imageContainer {
            img {
                // border: 2px solid white;
                border-radius: 10px;
                // overflow: hidden;
                // zoom: 1.2;
            }
        }
        .contactContainer {
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
                font-size: 3rem;
                text-decoration: underline;
                padding-bottom: 35px;
                text-align: center;
                svg {
                    margin-left: 15px;
                    margin-top: 7px;
                    position: absolute;
                }
            }
            span {
                font-size: 1.4rem;
                white-space: nowrap;
            }
        }
    }
}
@media (max-width: 1200px) {
    .containerWrap {
        padding: 0 9%;
        padding-bottom: 11%;
    }
}
@media (max-width: 800px) {
    .containerWrap {
        .overlayWrap {
            flex-direction: column;
            .imageContainer {
                display: flex;
                justify-content: center;
            }
        }
    }
}
@media (max-width: 430px) {
    .containerWrap {
        .overlayWrap {
            flex-direction: column;
            .contactContainer {
                h3 {
                    svg {
                        display: none;
                    }
                }
            }
            .imageContainer {
                display: flex;
                justify-content: center;
                img {
                    width: 270px;
                    height: 265px;
                }
            }
        }
    }
}
//320px
