.containerWrap {
    position: relative;
    background: linear-gradient(180deg, rgb(21 28 58) 9%, rgba(74, 85, 85, 0.48) 43%, rgb(15, 27, 58) 100%);
    width: 100%;
    // height: 100%;
    // height: 7000px;
    // max-height: 95vh;
    height: 80vh;

    padding: 0 20%;
    color: white;
    padding-top: 10%;
    .overlayWrap {
        display: flex;
        .imageContainer {
            img {
                // border: 2px solid white;
                border-radius: 10px;
                // overflow: hidden;
                // zoom: 1.2;
            }
        }
        .contactContainer {
            // background-color: red;
            padding: 15px;
            // border: 2px solid white;
            border-radius: 10px;
        }
    }
}
