.styledLines1,
.styledLines2 {
    position: absolute;
    top: 34%;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.114);
    z-index: -1;
    left: 0;
}
.styledLines2 {
    top: 81%;
}
