.cardOffer {
    position: absolute;
    background-color: transparent;
    min-width: 300px;
    min-height: 300px;
    max-width: 470px;
    width: 30%;
    height: 35%;
    top: -4%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    // box-shadow: 20px -20px 7px 0px #5492a6;
    box-shadow: 12px -10px 16px 0px #484f8d;

    transition: all 0.3s ease;

    &:hover {
        box-shadow: 13px -13px 16px 0px #484f8d;
        .image {
            // filter: brightness(0.2);
            filter: brightness(0.6);
        }
        span {
            transform: translateY(6%);
        }
    }
    .image {
        position: absolute;
        object-fit: cover;
        // filter: brightness(0.3);
        filter: brightness(0.7);
    }
    span {
        transition: transform 0.2s ease;
        color: white;
        font-size: 4rem;
        position: absolute;
        filter: drop-shadow(30px 10px 4px #000000);
    }
}
.katowice {
    // top: 50%;
}
.krakow {
    top: 50%;
}
.gdansk {
    top: 25%;
    right: 15%;
    img {
        filter: brightness(0.59) !important;
    }
}
